html{
    background-image: url(../starWarsFilms/stars.jpg);
    background-repeat: repeat; 
}

* {
    margin: 0px;
    box-sizing: border-box;  
}

h1 {
    text-align: center;
    padding: 20px;
    font-family: 'Goldman';
    font-size: 100px;
    color:  black;
    -webkit-text-stroke: 1px #FFE81F;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

img{
    width: 250px;
    height: auto;
}

h3 {
    font-family: 'Goldman';
    font-weight: bold;
    font-size: 25px;
    background-color: white;
}

p {
    font-family: 'Roboto';
    font-size: 16px;
    background-color: white;
}

.card {
    transition: 0.3s;
    margin: 20px;
    
}

.card:hover {
    box-shadow: 0 8px 16px 0 #ffe91f75;
}

.cardText {
    padding: 10px 20px 20px 20px;
    background-color: white;
}

